[package]
name = "qbsdiff"
version = "1.2.0"
authors = ["hucsmn <hucsmn@hotmail.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
keywords = ["bsdiff", "delta"]
homepage = "https://github.com/hucsmn/qbsdiff"
repository = "https://github.com/hucsmn/qbsdiff"
exclude = ["/assets"]
description = "Fast and memory saving bsdiff 4.x compatible delta compressor and patcher."

[dependencies]
bzip2 = "0.3"
byteorder = "1.3"
suffix_array = { version = "0.4", default-features = false, features = ["parallel"] }
clap = { optional = true, version = "2.33" }

[dev-dependencies]
utils = { version ="*", path = "utils" }
criterion = "0.3"

[features]
default = []
cmd = ["clap"]

[[bin]]
name = "qbsdiff"
path = "cmd/qbsdiff.rs"
required-features = ["cmd"]

[[bin]]
name = "qbspatch"
path = "cmd/qbspatch.rs"
required-features = ["cmd"]

[[bench]]
name = "invoke"
harness = false
