name: test

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        rust_version: [ stable ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
          override: true
      - name: Build the library and all binaries
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose --features cmd --bins
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose
